/* body는 배경만 담당 */
body {
  margin: 0;
  min-height: 100vh;

  background-image: url("image/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 제목 스타일은 따로 */
.title {
  text-align: center;
  color: #555555;

  font-size: 36px;
  font-weight: bold;

  background-color: white;
  border: 1px solid black;
  border-radius: 55px;
  padding: 25px 60px;

  width: fit-content;
}

/* 제목을 가운데로 보내는 역할 */
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
